.idea/

debug
debug.test
main
mockgen_tmp.go
*.qtr
*.qlog
*.exe

quic/fuzzing/*/*.zip
quic/fuzzing/*/coverprofile
quic/fuzzing/*/crashers
quic/fuzzing/*/sonarprofile
quic/fuzzing/*/suppressions
quic/fuzzing/*/corpus/
quic/!fuzzing/frames/single-frame*
quic/!fuzzing/frames/multiple-frame*
quic!fuzzing/header/header*
